An international online sales company tries to figure out which headquarters to invest more in, its headquarters in France or its headquarters in Germany.

To do this, they transfer their sales data for the years 2021 and 2022 and ask us to carry out the sales analysis in both countries based on these data.

Our analysis must show the similarities and differences in both countries and will require some manipulation of the data on our part.

Specifically, they ask us that, in addition to analyzing sales in general, we analyze sales by year.

In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv('On_line_retail.csv')

In [3]:
df

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2021-12-01 08:26:00,"2,55",-,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2021-12-01 08:26:00,"3,39",17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2021-12-01 08:26:00,"2,75",17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2021-12-01 08:26:00,"3,39",17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2021-12-01 08:26:00,"3,39",17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
541904,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2022-12-09 12:50:00,"0,85",12680.0,France
541905,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2022-12-09 12:50:00,"2,1",12680.0,France
541906,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2022-12-09 12:50:00,"4,15",12680.0,France
541907,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2022-12-09 12:50:00,"4,15",12680.0,France
541908,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2022-12-09 12:50:00,"4,95",12680.0,France

In [4]:
#We treat nulls
df = pd.read_csv('On_line_retail.csv', na_values = ['-'])
df

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2021-12-01 08:26:00,"2,55",NaN,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2021-12-01 08:26:00,"3,39",17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2021-12-01 08:26:00,"2,75",17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2021-12-01 08:26:00,"3,39",17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2021-12-01 08:26:00,"3,39",17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
541904,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2022-12-09 12:50:00,"0,85",12680.0,France
541905,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2022-12-09 12:50:00,"2,1",12680.0,France
541906,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2022-12-09 12:50:00,"4,15",12680.0,France
541907,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2022-12-09 12:50:00,"4,15",12680.0,France
541908,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2022-12-09 12:50:00,"4,95",12680.0,France

In [5]:
#We drop a column Unnamed: 0
df.drop(columns = {'Unnamed: 0'}, inplace = True)
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2021-12-01 08:26:00,"2,55",NaN,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2021-12-01 08:26:00,"3,39",17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2021-12-01 08:26:00,"2,75",17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2021-12-01 08:26:00,"3,39",17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2021-12-01 08:26:00,"3,39",17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2022-12-09 12:50:00,"0,85",12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2022-12-09 12:50:00,"2,1",12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2022-12-09 12:50:00,"4,15",12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2022-12-09 12:50:00,"4,15",12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2022-12-09 12:50:00,"4,95",12680.0,France

We treat the column unitprice

In [6]:
df.UnitPrice.dtype

dtype('O')

In [7]:
#We realize that unitprice is not as a numeric type

In [8]:
df.UnitPrice.str.replace(',', '.')

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905     2.1
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: object

In [9]:
df.UnitPrice = df.UnitPrice.str.replace(',', '.')
df.UnitPrice

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905     2.1
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: object

In [10]:
df.UnitPrice.astype('float')

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

In [11]:
df.UnitPrice = df.UnitPrice.astype('float')
df.UnitPrice

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

1. Sales comparison between France and Germany

In [12]:
df[df.Country == 'France'].UnitPrice.count()

8557

In [13]:
df[df.Country == 'Germany'].UnitPrice.count()

9495

In [14]:
## We have more data from Germany than from France

In [15]:
round(df[df.Country == 'France'].UnitPrice.sum(),2)

43031.99

In [16]:
round(df[df.Country == 'Germany'].UnitPrice.sum(),2)

37666.0

In [17]:
# The sum of the unit price is higher in France than in Germany

In [18]:
df[df.Country == 'France'].Quantity.sum()

110480

In [19]:
df[df.Country == 'Germany'].Quantity.sum()

117448

In [20]:
# However, in Germany more units are sold

That is, Germany sells more units but, apparently, at a lower unit price. Let's see the averages...

In [21]:
df[df.Country == 'France'].UnitPrice.mean()

5.028864087881266

In [22]:
df[df.Country == 'Germany'].UnitPrice.mean()

3.9669299631384938

In [23]:
df[df.Country == 'France'].Quantity.mean()

12.91106696272058

In [24]:
df[df.Country == 'Germany'].Quantity.mean()

12.369457609268036

In [25]:
# Indeed, the unit price in France is, on average, higher than in Germany
# The number of units of each product sold in
## average is higher in France than in Germany
## This can only match the above if
## remember that Germany has more data than France

To refine our analysis we need to know the total sales that each row represents

In [26]:
# If we multiply the unit price by the number of units sold...

In [27]:
round(df.UnitPrice*df.Quantity, 2)

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Length: 541909, dtype: float64

In [28]:
#We create a new column

df['UnitPriceXQuantity'] = round(df.UnitPrice*df.Quantity, 2)

In [29]:
round(df[df.Country == 'France'].UnitPriceXQuantity.mean(),2)

23.07

In [30]:
round(df[df.Country == 'Germany'].UnitPriceXQuantity.mean(),2)

23.35

In [31]:
round(df[df.Country == 'France'].UnitPriceXQuantity.sum(),2)

197403.9

In [32]:
round(df[df.Country == 'Germany'].UnitPriceXQuantity.sum(),2)

221698.21

In other words, Germany bills more in total and in average sales.

Thus, although France sells more units on average of more expensive products on average, Germany bills more in absolute terms. Probably because it has more sales (records and Quantity).

2. Analysis by dates

In [33]:
df.InvoiceDate.dtype

dtype('O')

In [34]:
df.InvoiceDate = pd.to_datetime(df.InvoiceDate)

In [40]:
df.InvoiceDate.dtype

dtype('<M8[ns]')

In [41]:
df.InvoiceDate

0        2021-12-01 08:26:00
1        2021-12-01 08:26:00
2        2021-12-01 08:26:00
3        2021-12-01 08:26:00
4        2021-12-01 08:26:00
                 ...
541904   2022-12-09 12:50:00
541905   2022-12-09 12:50:00
541906   2022-12-09 12:50:00
541907   2022-12-09 12:50:00
541908   2022-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [36]:
df.InvoiceDate.dt.year

0         2021
1         2021
2         2021
3         2021
4         2021
          ...
541904    2022
541905    2022
541906    2022
541907    2022
541908    2022
Name: InvoiceDate, Length: 541909, dtype: int32

In [38]:
df['Year'] = df.InvoiceDate.dt.year
df.Year

0         2021
1         2021
2         2021
3         2021
4         2021
          ...
541904    2022
541905    2022
541906    2022
541907    2022
541908    2022
Name: Year, Length: 541909, dtype: int32

In [39]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,UnitPriceXQuantity,Year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2021-12-01 08:26:00,2.55,NaN,United Kingdom,15.30,2021
1,536365,71053,WHITE METAL LANTERN,6,2021-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2021
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2021-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2021
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2021-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2021
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2021-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2021
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2022-12-09 12:50:00,0.85,12680.0,France,10.20,2022
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2022-12-09 12:50:00,2.10,12680.0,France,12.60,2022
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2022-12-09 12:50:00,4.15,12680.0,France,16.60,2022
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2022-12-09 12:50:00,4.15,12680.0,France,16.60,2022
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2022-12-09 12:50:00,4.95,12680.0,France,14.85,2022

3. Returns Analysis

In [42]:
df[df.Quantity < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,UnitPriceXQuantity,Year
141,C536379,D,Discount,-1,2021-12-01 09:41:00,27.50,14527.0,United Kingdom,-27.50,2021
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2021-12-01 09:49:00,4.65,15311.0,United Kingdom,-4.65,2021
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2021-12-01 10:24:00,1.65,17548.0,United Kingdom,-19.80,2021
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2021-12-01 10:24:00,0.29,17548.0,United Kingdom,-6.96,2021
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2021-12-01 10:24:00,0.29,17548.0,United Kingdom,-6.96,2021
...,...,...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2022-12-09 09:57:00,0.83,14397.0,United Kingdom,-9.13,2022
541541,C581499,M,Manual,-1,2022-12-09 10:28:00,224.69,15498.0,United Kingdom,-224.69,2022
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2022-12-09 11:57:00,10.95,15311.0,United Kingdom,-54.75,2022
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2022-12-09 11:58:00,1.25,17315.0,United Kingdom,-1.25,2022
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2022-12-09 11:58:00,1.25,17315.0,United Kingdom,-6.25,2022

In [43]:
df[(df.Quantity < 0) & (df.Country == 'France')].UnitPriceXQuantity.sum()

-12311.21

In [44]:
df[(df.Quantity < 0) & (df.Country == 'Germany')].UnitPriceXQuantity.sum()

-7168.929999999999

In [45]:
## France has more refunds than Germany

In [46]:
df[(df.Quantity < 0) & (df.Country == 'France')].UnitPriceXQuantity.count()

149

In [47]:
df[(df.Quantity < 0) & (df.Country == 'Germany')].UnitPriceXQuantity.count()

453

In [49]:
# Although the number of returns in France is much lower

In [50]:
df[(df.UnitPriceXQuantity <= -100) & (df.Country == 'France')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,UnitPriceXQuantity,Year
145832,C548914,M,Manual,-1,2022-04-05 09:46:00,1136.30,12669.0,France,-1136.30,2022
422375,C573079,M,Manual,-2,2022-10-27 14:15:00,4161.06,12536.0,France,-8322.12,2022
508002,C579192,22959,WRAP CHRISTMAS VILLAGE,-250,2022-11-28 15:43:00,0.42,12657.0,France,-105.00,2022
508006,C579192,22423,REGENCY CAKESTAND 3 TIER,-10,2022-11-28 15:43:00,12.75,12657.0,France,-127.50,2022

We effectively see that we have data that is probably atypical, we should evaluate what to do with it

In [51]:
df[(df.UnitPriceXQuantity <= -100) & (df.Country == 'Germany')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,UnitPriceXQuantity,Year
39440,C539644,22423,REGENCY CAKESTAND 3 TIER,-21,2021-12-20 15:52:00,10.95,12471.0,Germany,-229.95,2021
159710,C550355,M,Manual,-1,2022-04-18 10:29:00,222.75,13811.0,Germany,-222.75,2022
249284,C558897,M,Manual,-1,2022-07-04 15:55:00,389.68,12619.0,Germany,-389.68,2022
398147,C571220,M,Manual,-1,2022-10-14 13:35:00,599.50,13810.0,Germany,-599.50,2022
422040,C573037,22423,REGENCY CAKESTAND 3 TIER,-11,2022-10-27 13:45:00,10.95,12471.0,Germany,-120.45,2022
455646,C575635,M,Manual,-1,2022-11-10 13:45:00,424.06,12473.0,Germany,-424.06,2022
455647,C575635,M,Manual,-1,2022-11-10 13:45:00,549.34,12473.0,Germany,-549.34,2022
487712,C577775,22236,CAKE STAND 3 TIER MAGIC GARDEN,-12,2022-11-21 16:00:00,10.95,12504.0,Germany,-131.40,2022
487713,C577775,22776,SWEETHEART 3 TIER CAKE STAND,-12,2022-11-21 16:00:00,8.50,12504.0,Germany,-102.00,2022
487714,C577775,22220,CAKE STAND LOVEBIRD 2 TIER WHITE,-12,2022-11-21 16:00:00,8.50,12504.0,Germany,-102.00,2022

In [52]:
df[(df.StockCode == 'M')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,UnitPriceXQuantity,Year
2239,536569,M,Manual,1,2021-12-01 15:35:00,1.25,16274.0,United Kingdom,1.25,2021
2250,536569,M,Manual,1,2021-12-01 15:35:00,18.95,16274.0,United Kingdom,18.95,2021
5684,536865,M,Manual,1,2021-12-03 11:28:00,2.55,NaN,United Kingdom,2.55,2021
6798,536981,M,Manual,2,2021-12-03 14:26:00,0.85,14723.0,United Kingdom,1.70,2021
7976,537077,M,Manual,12,2021-12-05 11:59:00,0.42,17062.0,United Kingdom,5.04,2021
...,...,...,...,...,...,...,...,...,...,...
531432,580956,M,Manual,4,2022-12-06 14:23:00,1.25,17841.0,United Kingdom,5.00,2022
533082,C581009,M,Manual,-1,2022-12-07 09:15:00,125.00,16971.0,United Kingdom,-125.00,2022
534308,C581145,M,Manual,-1,2022-12-07 13:48:00,9.95,17490.0,United Kingdom,-9.95,2022
538321,581405,M,Manual,3,2022-12-08 13:50:00,0.42,13521.0,United Kingdom,1.26,2022
541541,C581499,M,Manual,-1,2022-12-09 10:28:00,224.69,15498.0,United Kingdom,-224.69,2022

In [53]:
df[(df.StockCode == 'M')].UnitPrice.mean()

375.5663922942207

In [54]:
df.UnitPrice.mean()

4.611113626088513

In [55]:
df[(df.StockCode == 'M')&(df.UnitPrice > 750)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,UnitPriceXQuantity,Year
14392,537534,M,Manual,1,2021-12-07 11:48:00,924.59,NaN,United Kingdom,924.59,2021
28994,C538682,M,Manual,-1,2021-12-13 17:14:00,1130.90,NaN,United Kingdom,-1130.90,2021
41448,539856,M,Manual,1,2021-12-22 14:41:00,1298.40,NaN,United Kingdom,1298.40,2021
45622,C540271,M,Manual,-1,2022-01-06 11:51:00,1126.00,12503.0,Spain,-1126.00,2022
64570,C541651,M,Manual,-1,2022-01-20 11:48:00,1283.80,NaN,United Kingdom,-1283.80,2022
...,...,...,...,...,...,...,...,...,...,...
422375,C573079,M,Manual,-2,2022-10-27 14:15:00,4161.06,12536.0,France,-8322.12,2022
422376,573080,M,Manual,1,2022-10-27 14:20:00,4161.06,12536.0,France,4161.06,2022
424470,C573268,M,Manual,-1,2022-10-28 12:50:00,907.00,12748.0,United Kingdom,-907.00,2022
468046,576389,M,Manual,1,2022-11-15 10:05:00,850.50,12748.0,United Kingdom,850.50,2022
481174,C577348,M,Manual,-1,2022-11-18 15:30:00,1149.98,NaN,United Kingdom,-1149.98,2022

In [56]:
df[(df.StockCode == 'M')&(df.UnitPrice > 750)&(df.Quantity < 0)].UnitPrice.count()

38

In [57]:
## We see that there is inconsistency in the data!!!
## We must consult before accepting our sales analysis!!!
df[abs(df.UnitPriceXQuantity) == 38970.00] #38970.00

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,UnitPriceXQuantity,Year
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2022-06-10 15:28:00,649.5,15098.0,United Kingdom,38970.0,2022
222681,C556445,M,Manual,-1,2022-06-10 15:31:00,38970.0,15098.0,United Kingdom,-38970.0,2022

In [58]:
df[(df.Country == 'France') & (df.Year == 2021)].UnitPriceXQuantity.sum()

9575.36

In [59]:
df[(df.Country == 'France') & (df.Year == 2022)].UnitPriceXQuantity.sum()

187828.54

In [64]:
df[(df.Country == 'France') & (df.Year == 2022)].UnitPriceXQuantity.sum() - df[(df.Country == 'France') & (df.Year == 2021)].UnitPriceXQuantity.sum()

178253.18

In [61]:
df[(df.Country == 'Germany') & (df.Year == 2022)].UnitPriceXQuantity.sum()

207135.37

In [62]:
df[(df.Country == 'Germany') & (df.Year == 2021)].UnitPriceXQuantity.sum()

14562.84

In [63]:
df[(df.Country == 'Germany') & (df.Year == 2022)].UnitPriceXQuantity.sum() - df[(df.Country == 'Germany') & (df.Year == 2021)].UnitPriceXQuantity.sum()

192572.53

In conclusion, Germany has more sales than France, but the difference is not significant.